@model Recordis
<select>

    {
        <option style="background-color: black;color:antiquewhite;">Posted @Model.CreatedAt</option>
        <option>Updated @Model.UpdatedAt</option>
        <!-- <option>File Path @Model.MediaFilePath</option> -->
        <option>4</option>

    }
</select>