<div style="background-color: #4d4d4d !important;" id="scaleContainer">
    <!-- //use "important" to over-write bootstrap values )_reboot.scss -->
    <a class="text-decoration-none bg-primary vers " href="/tracks">&nbsp T R A C K S &nbsp</a>
    <a href="" class="text-decoration-none bg-black vers">⚜</a>
    <a class="text-decoration-none bg-success vers" href="/tools/">&nbsp T O O L S &nbsp</a>
</div>