@model cSharp2022.Models.Image

<form
  asp-action="PostImage"
  asp-controller="Gearz"
  method="post"
  enctype="multipart/form-data"
>
  <input type="file" name="uploadFile" class="form-control" />
  <input type="submit" value="submit" id="sub" />
</form>
