@model cSharp2022.Models.Image

<form asp-controller="Gearz" asp-action="Task" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadFile" class="form-control"/>
    <input type="submit" value="submit" id="sub" />
</form>