@model Recordis
<!-- name of the actual model, not file name - model binding -->
<div>
    <div class="form-box">
        <!-- <p><a href="/">Home</a></p> -->
        <div class="row">
            <h3>Add an entry</h3>
            <div class="form-box" class=col-sm-12>
                <form id="MyForm" asp-action="submitTrack" asp-controller="Home" method="post"
                    enctype="multipart/form-data">
                    <partial name="_form1" />
                </form>
            </div>
        </div>
    </div>
</div>
